
/*
 * Footer
 */
#Container{
	min-height: 700px;
}
main{
         
         
}
footer{
	background-color: rgba(248, 250, 252, 1);
	margin-bottom: -10px;
	margin-top: 10px;
}

.cardPrincipal{
	border: none;
}
#BaseDatos{
 	min-height: 500px;
	padding: 30px;
	margin-bottom: 30px;
}
.Molecule{
	background: rgba(255, 255, 255, 1);

}
.image_molecule{
	background: rgba(55, 155,100, .1);
	padding: 10px;
	min-height: 160px;
	min-width: 160px;
	 text-align: justify;
  text-justify: inter-word;
}
.Tabla_Datos_Moleculas{
	padding: 10px;
}
.card-img-molecula{
	min-height: 200px;
	min-width: 200px;
	background-color: rgb(192, 192, 192);
	
}